
.triangle {
  width: 0;
  height: 0;
  border-bottom: 100px solid transparent;  /* Левая граница прозрачная */
  border-right: 100px solid blue;
  transform: rotate(-90deg);
}
.mainSlide{
  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
}
.mainSlide-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 1024px) {
    height: 540px;
  }
}