<div class="catalog-grid">
    <div class="catalog-swiper-item">
        <a href="#" class="">
            <img src="/assets/images/catalog/catalogM1.png" class="w-full object-cover mb-[16px]"
                 alt="">
            <h4 class="">Токарные станки с ЧПУ моделей DA-200 / DA-260 / DA-280</h4>
            <p class="truncate-3-lines">
                Краткий анонс оборудования. Постоянный количественный рост и сфера нашей активности.
            </p>
            <div class="catalog-swiper-item-more">Подробнее </div>
        </a>
    </div>
    <div class=" catalog-swiper-item">
        <a href="#" class="">
            <img src="/assets/images/catalog/catalogM2.png" class="w-full object-cover mb-[16px]"
                 alt="">
            <h4 class="">Вертикально-фрезерный обрабатывающий центр колонного типа серии DLV</h4>
            <p class="truncate-3-lines">
                Краткий анонс оборудования. Постоянный количественный рост и сфера нашей активности.
            </p>
            <div class="catalog-swiper-item-more">Подробнее </div>

        </a>
    </div>
    <div class=" catalog-swiper-item">
        <a href="#" class="">
            <img src="/assets/images/catalog/catalogM3.png" class="w-full object-cover mb-[16px]"
                 alt="">
            <h4 class="">Вертикальные фрезерные станки с ЧПУ серии DGM</h4>
            <p class="truncate-3-lines ">
                Краткий анонс оборудования. Постоянный количественный рост и сфера нашей активности.
            </p>
            <div class="catalog-swiper-item-more">Подробнее </div>

        </a>
    </div>
    <div class="catalog-swiper-item">
        <a href="#" class="">
            <img src="/assets/images/catalog/catalogM4.png" class="w-full object-cover mb-[16px]"
                 alt="">
            <h4 class="">Автоматы продольного точения (“Swiss type”) с ЧПУ</h4>
            <p class="truncate-3-lines">
                Краткий анонс оборудования. Постоянный количественный рост и сфера нашей активности.
            </p>
            <div class="catalog-swiper-item-more">Подробнее </div>
        </a>
    </div>
    <div class=" catalog-swiper-item">
        <a href="#" class="">
            <img src="/assets/images/catalog/catalogM1.png" class="w-full object-cover mb-[16px]"
                 alt="">
            <h4 class="">Токарные станки с ЧПУ моделей DA-200 / DA-260 / DA-280</h4>
            <p class="truncate-3-lines">
                Краткий анонс оборудования. Постоянный количественный рост и сфера нашей активности.
            </p>
            <div class="catalog-swiper-item-more">Подробнее </div>
        </a>
    </div>
    <div class=" catalog-swiper-item">
        <a href="#" class="">
            <img src="/assets/images/catalog/catalogM2.png" class="w-full object-cover mb-[16px]"
                 alt="">
            <h4 class="">Вертикально-фрезерный обрабатывающий центр колонного типа серии DLV</h4>
            <p class="truncate-3-lines">
                Краткий анонс оборудования. Постоянный количественный рост и сфера нашей активности.
            </p>
            <div class="catalog-swiper-item-more">Подробнее </div>

        </a>
    </div>
    <div class=" catalog-swiper-item">
        <a href="#" class="">
            <img src="/assets/images/catalog/catalogM3.png" class="w-full object-cover mb-[16px]"
                 alt="">
            <h4 class="">Вертикальные фрезерные станки с ЧПУ серии DGM</h4>
            <p class="truncate-3-lines ">
                Краткий анонс оборудования. Постоянный количественный рост и сфера нашей активности.
            </p>
            <div class="catalog-swiper-item-more">Подробнее </div>

        </a>
    </div>
    <div class="catalog-swiper-item">
        <a href="#" class="">
            <img src="/assets/images/catalog/catalogM4.png" class="w-full object-cover mb-[16px]"
                 alt="">
            <h4 class="">Автоматы продольного точения (“Swiss type”) с ЧПУ</h4>
            <p class="truncate-3-lines">
                Краткий анонс оборудования. Постоянный количественный рост и сфера нашей активности.
            </p>
            <div class="catalog-swiper-item-more">Подробнее </div>
        </a>
    </div>
</div>