<div class="container">
    <h2>Каталог</h2>

    <div class="grid lg:grid-cols-4 grid-cols-2 lg:gap-[32px] sm:gap-[24px] gap-[12px] lg:mt-[40px] sm:mt-[24px] mt-[16px]">
        <a href="#" class="card">
            <div class="card-padding"><h4>Рубка листового металла</h4></div>
            <div class="card-image">
                <img src="/assets/images/catalog/img1.png" alt="Рубка листового металла">
            </div>
            <div class="card-arrow"><img src="/assets/images/cardArrow.svg" alt=""></div>
        </a>

        <a href="#" class="card">
            <div class="card-padding">
                <h4>Гибка листового металла</h4>
            </div>
            <div class="card-image">
                <img src="/assets/images/catalog/img4.png" alt="Гибка листового металла">
            </div>
            <div class="card-arrow"><img src="/assets/images/cardArrow.svg" alt=""></div>
        </a>

        <a href="#" class="card">
            <div class="card-padding">
                <h4>Обработка труб, профиля и проволоки</h4>
            </div>
            <div class="card-image">
                <img src="/assets/images/catalog/img2.png" alt="Обработка труб, профиля и проволоки">
            </div>
            <div class="card-arrow"><img src="/assets/images/cardArrow.svg" alt=""></div>
        </a>

        <a href="#" class="card">
            <div class="card-padding">  <h4>Роботизированные комплексы</h4></div>
            <div class="card-image">
                <img src="/assets/images/catalog/img2.png" alt="Роботизированные комплексы">
            </div>
            <div class="card-arrow"><img src="/assets/images/cardArrow.svg" alt=""></div>
        </a>

    </div>
</div>