<footer class="bg-[#262626] text-white py-10">
    <div class="container mx-auto flex flex-wrap justify-between gap-4 text-[14px]">
        <!-- Левый блок -->
        <div class="lg:max-w-[290px] lg:w-fit w-full font-light">
            <a href="/">
                <img src="/assets/images/logoWhite.svg" alt="YSD Logo" class="lg:mb-[36px] sm:mb-[32px] mb-[24px]">
            </a>
            <div class="lg:block hidden">
                <p>г. Москва, ул. Шарикоподшипниковская, 4, корп. 25, к.1</p>
                <p>тел. <a href="tel:88009008888" class="hover:underline">8 800 900-88-88</a>, e-mail: <a class="hover:underline" href="mailto:info@ysd.ru" >info@ysd.ru</a></p>
            </div>
        </div>
        <!-- Средний блок -->
        <div>
            <div class="font-semibold mb-[16px]">Каталог</div>
            <ul class="grid space-y-[16px] font-light">
                <li><a href="/catalog.html" class="hover-text-blue">Рубка листового металла</a></li>
                <li><a href="/catalog.html" class="hover-text-blue">Гибка листового металла</a></li>
                <li><a href="/catalog.html" class="hover-text-blue">Обработка труб, профиля и проволоки</a></li>
                <li><a href="/catalog.html" class="hover-text-blue">Роботизированные комплексы</a></li>
            </ul>
        </div>
        <!-- Правый блок -->
        <div class="min-w-[310px]">
            <ul class="flex lg:flex-row flex-col lg:space-x-[24px] space-y-[24px] lg:space-y-[0px] font-semibold">
                <li><a href="/" class="hover-text-blue">Главная</a></li>
                <li><a href="/" class="hover-text-blue">О компании</a></li>
                <li><a href="/" class="hover-text-blue">Сервис</a></li>
                <li><a href="/news.html" class="hover-text-blue">Новости</a></li>
                <li><a href="/contacts.html" class="hover-text-blue">Контакты</a></li>
            </ul>
            <div class="flex lg:ml-auto lg:justify-end space-x-[8px] lg:mt-[24px] mt-[32px]">
                <a href="#" class="text-xl w-[44px] h-[44px] rounded-full border border-[#FFFFFF33] hover:bg-[#FFFFFF19] hover:border-transparent flex justify-center align-center"><img class="max-w-[17px]" src="/assets/images/phone.svg" alt=""></a>
                <a href="#" class="text-xl w-[44px] h-[44px] rounded-full border border-[#FFFFFF33] hover:bg-[#FFFFFF19] hover:border-transparent flex justify-center align-center"><img class="max-w-[17px]" src="/assets/images/telegram.svg" alt=""></a>
                <a href="#" class="text-xl w-[44px] h-[44px] rounded-full border border-[#FFFFFF33] hover:bg-[#FFFFFF19] hover:border-transparent flex justify-center align-center"><img class="max-w-[17px]" src="/assets/images/wa.svg" alt=""></a>
            </div>
        </div>
    </div>

    <div class="lg:hidden  text-[13px] sm:mt-[-35px] font-light opacity-70 mt-[24px] sm:!max-w-[45vw]">
       <div class="container">
           <p>г. Москва, ул. Шарикоподшипниковская, 4, корп. 25, к.1</p>
           <p>тел. <a href="tel:88009008888" class="hover:underline">8 800 900-88-88</a>, e-mail: <a href="mailto:info@ysd.ru" class="hover:underline">info@ysd.ru</a></p>
       </div>
    </div>

    <div class="border-t border-gray-600 lg:mt-[40px] mt-[32px] lg:pt-[40px] pt-[24px] text-[14px] font-light">
        <div class="container flex lg:flex-row flex-col gap-[12px] justify-between">
            <p class="opacity-70">&copy; 2024 HUBEI TRI-RING METALFORMING EQUIPMENT CO., LTD (YSD). Все права защищены.</p>
            <a class="opacity-70 underline hover:opacity-100" href="#">Политика в области обработки персональных данных</a>
        </div>
    </div>
</footer>
